<div class="container">
    <p class="h4 my-2"><i class="fab fa-node"></i> Node.js</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="nodejs">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Article</th>
                    <th scope="col">Source</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of articles">
                    <th scope="row">{{ item?.id }}</th>
                    <td>{{ item?.title }}</td>
                    <td>{{ item?.source }}</td>
                    <td>
						<a href="{{ item.url }}" target="_blank" class="" rel="noopener nofollow noreferrer"><i class="fas fa-external-link-alt"></i></a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
	<pre>
      <code class="user-select-none">
        npm config set script-shell "C:\\Program Files\\git\\bin\\bash.exe"
        npm config set script-shell "C:\\Program Files (x86)\\git\\bin\\bash.exe"
        npm config delete script-shell
	  </code>
	</pre>
</div>
