<div class="container">
    <p class="h4 my-2"><i class="fab fa-node"></i> Node.js</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="nodejs">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Article</th>
                    <th scope="col">Source</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of articles">
                    <th scope="row">{{ item?.id }}</th>
                    <td>
						<label class="text-muted">{{ item?.title }}</label>
					</td>
                    <td>
						<label class="text-muted">{{ item?.source }}</label>
					</td>
                    <td>
						<a href="{{ item.url }}" target="_blank" class="" rel="noopener nofollow noreferrer"><i class="fas fa-external-link-alt"></i></a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
	
	<ul class="list-unstyled">
		<li>
			<p class="font-weight-bold text-muted">To set the NPM registry server in Windows</p>
			<p class="user-select-none"><code>npm config set registry https://registry.npmjs.org/</code></p>
		</li>
		<li>
			<p class="font-weight-bold text-muted">To set shell for npm run-scripts in Windows (x64)</p>
			<p class="user-select-none"><code>npm config set script-shell "C:\\Program Files\\git\\bin\\bash.exe"</code></p>
		</li>
		<li>
			<p class="font-weight-bold text-muted">To set shell for npm run-scripts in Windows (x86)</p>
			<p class="user-select-none"><code>npm config set script-shell "C:\\Program Files (x86)\\git\\bin\\bash.exe"</code></p>
		</li>
		<li>
			<p class="font-weight-bold text-muted">To unset shell for npm run-scripts in Windows</p>
			<p class="user-select-none"><code>npm config delete script-shell</code></p>
		</li>
	</ul>
</div>
