<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="AwesomeDocs">
    AwesomeDocs
  </a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<h1 class="display-4">Welcome to AwesomeDocs!</h1>
	<p class="lead">Awesome and helpful resources and references covering various topics</p>
	<hr class="my-4">
	<a class="btn btn-primary btn-lg" href="https://github.com/shortthirdman/AwesomeDocs" role="button">Learn more</a>
  </div>
  <div class="container">
	<ul class="nav nav-pills">
	  <ng-container *ngFor="let item of navLinks">
	    <li class="nav-item" (click)="navigateTo(item?.route)">
		  <a class="nav-link" [routerLink]="item?.route" [routerLinkActive]="'active'">{{ item?.label }}</a>
	    </li>
	  </ng-container>
	</ul>
  </div>
</div>
<main id="content" class="mt-2 p-4 p-md-5 pt-5">
	<!-- <perfect-scrollbar class="scroll-container" [scrollIndicators]="true" [config]="config" [usePSClass]="true"> -->
	<router-outlet></router-outlet>
	<!-- </perfect-scrollbar> -->
</main>