<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="AwesomeDocs">
    {{ title }}
  </a>
  <ul class="list-inline">
	<li class="list-inline-item" *ngIf="false">
		<div class="switch form-check form-switch">
		  <input class="form-check-input" type="checkbox" id="themeSwitch">
		</div>
	</li>
	<li class="list-inline-item" *ngIf="appVersion !== ''">
		<div class="version">
		  <p class="fw-lighter font-monospace">Version {{ appVersion }}</p>
		</div>
	</li>
  </ul>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<h1 class="display-4" id="welcome">Welcome to AwesomeDocs!</h1>
	<p class="lead">Awesome and helpful resources and references covering various topics</p>
	<hr class="my-4">
	<a class="btn btn-primary btn-lg" href="https://github.com/shortthirdman/AwesomeDocs" role="button">Learn more</a>
  </div>
  <div class="container mt-4">
	<ul class="nav nav-pills">
	  <ng-container *ngFor="let item of navLinks">
	    <li class="nav-item" (click)="navigateTo(item?.route)">
		  <a class="nav-link" [routerLink]="item?.route" [routerLinkActive]="'active'">{{ item?.label }}</a>
	    </li>
	  </ng-container>
	</ul>
  </div>
</div>
<main id="content" class="mt-1 p-4 p-md-5 pt-5">
	<router-outlet></router-outlet>
</main>