<div class="container">
    <p class="h4 my-2"><i class="fab fa-docker"></i> Docker</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="docker">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Article</th>
                    <th scope="col">Source</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of articles">
                    <th scope="row">{{ item?.id }}</th>
                    <td>
						<p class="lead">{{ item?.title }}</p>
					</td>
                    <td>
						<p class="lead">{{ item?.source }}</p>
					</td>
                    <td>
						<a href="{{ item.url }}" target="_blank" class="" rel="noopener nofollow noreferrer"><i class="fas fa-external-link-alt"></i></a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>