<div class="container">
	<p class="h4 my-2"><i class="fab fa-git"></i> Git</p>
	<awd-article-list [tableId]="'git'" [articles]="articles"></awd-article-list>
	<ul class="list-unstyled">
		<li>
			<p class="font-weight-bold text-muted">To count the commits in a date range in your current branch</p>
			<p class=""><code>git rev-list --count HEAD --since=&quot;Dec 3 2015&quot;  --before=&quot;Jan 3 2016&quot;</code></p>
		</li>
		<li>
			<p class="font-weight-bold text-muted">If you want the count for all branches in one go use --all additionally</p>
			<p class=""><code>git rev-list --count --since=&quot;Dec 3 2015&quot;  --before=&quot;Jan 3 2016&quot; --all</code></p>
		</li>
		<li>
			<p class="font-weight-bold text-muted">If you want to exclude merge-commits, use option --no-merges</p>
			<p class=""><code>git rev-list --count --since=&quot;Dec 3 2015&quot;  --before=&quot;Jan 3 2016&quot; --all --no-merges</code></p>
		</li>
	</ul>
</div>